/* =====================
   GLOBAL RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}


/* =====================
   GLOBAL BACKGROUND
===================== */
body {
  background: url("/images/background.jpg") center/cover no-repeat fixed;
}

/* =====================
   PAGE WRAPPER
===================== */
.page-wrapper {
  min-height: calc(100vh - 70px); /* navbar height adjust */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 20px;
}

/* =====================
   MAIN CONTENT CARD
===================== */
.page-card {
  width: 100%;
  max-width: 1200px;

  background: transparent;
  backdrop-filter: blur(16px);

  border-radius: 0;
  padding: 50px 60px;

  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .page-card {
    padding: 30px 25px;
  }
}
